apiVersion: v1
kind: Deployment
metadata:
  name: service-b
spec:
  replicas: 5
  selector:
    matchLabels:
      app: service-d
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: service-b
          image: <username>/service-b:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  type:
  selector:
    app: service-b
  ports:
    - port: 3001
      targetPort: 3002
